#Perfil{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 18px;
    width: 300px;
    border: 1px solid black;
    margin-inline-start: 10px;
    border-radius: 8px;
}

#stats{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 8px;
}

#hpAtual{
    text-align: right;
    font-size: 16px;
    width: 18px;
}

#stats strong{
    font-size: 16px;
    margin-block: 3px;
    border-bottom: 1px solid black;
}

#NomePersonagem{
    font-size: 24px;
    border-bottom: 2px solid black;
    width: 100%;
}

@media (max-width: 700px) {
    #Perfil{
        width: 90%;
        margin: 0 auto;
    }

    #hpAtual{
        font-size: 24px;
        width: 24px;
    }

    #stats strong{
        font-size: 24px;
    }
}