.Mode{
    border: 1px solid rgb(22, 22, 22);
    border-radius: 30%;
    background-color: transparent;
    padding-inline: 4px;
    margin: 8px;
}

.Mode:hover{
    background-color: rgb(243, 242, 242);
}

#Tabelas{
    display: flex;
    flex: 1;
    overflow-x: scroll;
    padding-block: 18px;
    max-width: 70%;
    margin-inline-start: 18px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 16px;
    display: inline-table;
}

#main_table thead {
    background-color: black;
    color: white;
}

thead {
    padding: 8px;
    font-size: 24px;
}

thead tr {
    border: none;
    border-spacing: none;
}

.topos{
    font-size: 16px;
}

strong {
    font-size: 14px;
}

tr,
td {
    border: 1px solid black;
}

p {
    text-align: center;
    padding: 6px;
}

table input {
    border: none;
    text-align: center;
    width: 80px;
    height: 30px;
}

.blue thead{
    background-color: #15D6C0;
}

.blue .naming, .blue .topos{
    background-color: #3BBAAB;
}

.red thead{
    background-color: #E0070E;
}

.red .naming, .red .topos{
    background-color: #FB0E16;
}

.yellow thead{
    background-color: #FAFA20;
}

.yellow .naming, .yellow .topos{
    background-color: #FFFF4A;
}

.green thead{
    background-color: #65F748;
}

.green .naming, .green .topos{
    background-color: #85DB74;
}

.magenta thead{
    background-color: #90479E;
}

.magenta .naming, .magenta .topos{
    background-color: #BF99C7;
}

.Exibition-P{
    padding: 12px 22px;
    font-size: 18px;
}

@media (max-width: 700px) {
    #Tabelas{
        max-width: 95%;
        margin: 4px;
    }
}